<h1 class="text-center">Editing <%= @user.username %></h1>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#basics" data-toggle="tab" aria-expanded="true">Basics</a></li>
      <li><a href="#origins" data-toggle="tab" aria-expanded="false">Origins</a></li>
      <li><a href="#measures" data-toggle="tab" aria-expanded="false">Measures</a></li>
      <li><a href="#detailedbio" data-toggle="tab" aria-expanded="false">Detailed BIO</a></li>
      <li><a href="#security" data-toggle="tab" aria-expanded="false">Security</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="basics">
        <%= render 'users/basics' %>
      </div>
      <div class="tab-pane fade" id="origins">
        <%= render 'users/origins' %>
      </div>
      <div class="tab-pane fade" id="measures">
        <%= render 'users/measures' %>
      </div>
      <div class="tab-pane fade" id="detailedbio">
        <%= render 'users/detailedbio' %>
      </div>
      <div class="tab-pane fade" id="security">
        <%= render 'users/security' %>
      </div>
    </div>
  </div>
</div>