<h1 class="text-center">Editing <%= @user.username %></h1>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<di v class="container">
  <div class="col-sm-5 col-md-offset-3">
    <%= bootstrap_form_for @user, html: { multipart: true } do |f| %>
      <%= f.text_field :fullname %>
      <%= f.date_field :born, label: "Birthday" %>
      <%= f.text_field :styles, placeholder: "ie. Housedance, Popping, Bboying, ..." %>
      <%= f.text_field :summary, placeholder: "Enter here a brief summary of your career as a dancer" %>
            
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation, label: "Confirm password" %>
      <%= f.file_field :logo %>
      debugger
      <%= f.submit "Start enjoying!", class: "btn btn-success" %>
      <%= link_to "Cancel", user_path(@user), class: "btn btn-default" %>
    <% end %>
  </div>
</div>

<h1> Still remains the part of the form where update all advanced info! </h1>