<div class="col-md-8 col-md-offset-2">
	<h1> <%= @user.username %> <%= link_to "Back", user_path(@user.username), class: "small" %> </h1>

	<div role="tabpanel">

	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab"> Basic Info </a></li>
	    <li role="presentation"><a href="#origins" aria-controls="origins" role="tab" data-toggle="tab"> Origins </a></li>
	    <li role="presentation"><a href="#measures" aria-controls="measures" role="tab" data-toggle="tab"> Measures </a></li>
	    <li role="presentation"><a href="#extendedbio" aria-controls="extendedbio" role="tab" data-toggle="tab"> Detailed BIO </a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="basic">
	    	<ul class="list-group">
				<li class="list-group-item"><strong> Full name: </strong> <%= @user.fullname %> </li>
				<li class="list-group-item"><strong> Performing: </strong> <%= @user.styles %> </li>
				<li class="list-group-item"> <%= @user.summary %> </li>
			</ul>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="origins">
	    	<ul class="list-group">
				<li class="list-group-item"><strong> Born on: </strong> <%= @user.born %> </li>
				<li class="list-group-item"><strong> Nationality: </strong> <%= @user.nationality %> </li>
				<li class="list-group-item"><strong> Ethnicity: </strong> <%= @user.ethnicity %> </li>
				<li class="list-group-item"><strong> Speaking: </strong> <%= @user.languages %> </li>
			</ul>
		</div>
	    <div role="tabpanel" class="tab-pane" id="measures">
	    	<ul class="list-group">
				<li class="list-group-item"><strong> Height (cm): </strong> <%= @user.height.to_f.round(1) %> </li>
				<li class="list-group-item"><strong> Chest (cm): </strong> <%= @user.chest.to_f.round(1) %> </li>
				<li class="list-group-item"><strong> Waist (cm): </strong> <%= @user.waist.to_f.round(1) %> </li>
				<li class="list-group-item"><strong> Hips (cm): </strong> <%= @user.hips.to_f.round(1) %> </li>
				<li class="list-group-item"><strong> Suit (size): </strong> <%= @user.suit %> </li>
				<li class="list-group-item"><strong> Shirt (size): </strong> <%= @user.shirt %> </li>
				<li class="list-group-item"><strong> Pants (size): </strong> <%= @user.pants %> </li>
				<li class="list-group-item"><strong> Shoes (size): </strong> <%= @user.shoes %> </li>
				<li class="list-group-item"><strong> Eyes: </strong> <%= @user.eyes %> </li>
				<li class="list-group-item"><strong> Hair: </strong> <%= @user.hair %> </li>
			</ul>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="extendedbio">
			<% unless @user.actingexp.nil? %>
				<div class="text-success">
					<h3> Acting </h3>
					<p> <%= @user.actingexp %> </p>
				</div>
			<% end %>
			<% unless @user.battleexp.nil? %>
				<div class="text-danger">
					<h3> Battling </h3>
					<p> <%= @user.battleexp %> </p>
				</div>
			<% end %>
			<% unless @user.adsexp.nil? %>
				<div class="text-warning">
					<h3> TV / Ads </h3>
					<p> <%= @user.adsexp %> </p>
				</div>
			<% end %>
			<% unless @user.teachingexp.nil? %>
				<div class="text-info">
					<h3> Teaching </h3>
					<p> <%= @user.teachingexp %> </p>
				</div>
			<% end %>
	    </div>
	  </div>
	</div>
</div>