<h1><%= @user.username %></h1>

<h2> Basic info </h2>

<ul>
	<li><strong> Full name: </strong> <%= @user.fullname %> </li>
	<li><strong> Performing: </strong> <%= @user.styles %> </li>
	<li><strong> BIO: </strong> <p> <%= @user.summary %> </p> </li>
</ul>

<h2> Origins </h2>

<ul>
	<li><strong> Born on: </strong> <%= @user.born %> </li>
	<li><strong> Nationality: </strong> <%= @user.nationality %> </li>
	<li><strong> Ethnicity: </strong> <%= @user.ethnicity %> </li>
	<li><strong> Speaking: </strong> <%= @user.languages %> </li>
</ul>

<h2> Measures </h2>

<ul>
	<li><strong> Height (cm): </strong> <%= @user.height %> </li>
	<li><strong> Chest (cm): </strong> <%= @user.chest %> </li>
	<li><strong> Waist (cm): </strong> <%= @user.waist %> </li>
	<li><strong> Hips (cm): </strong> <%= @user.hips %> </li>
	<li><strong> Suit (size): </strong> <%= @user.suit %> </li>
	<li><strong> Shirt (size): </strong> <%= @user.shirt %> </li>
	<li><strong> Pants (size): </strong> <%= @user.pants %> </li>
	<li><strong> Shoes (size): </strong> <%= @user.shoes %> </li>
	<li><strong> Eyes: </strong> <%= @user.eyes %> </li>
	<li><strong> Hair: </strong> <%= @user.hair %> </li>
</ul>

<h2> Extended experience info </h2>

<h3> Acting (LOGO) </h3>
<p> <%= @user.actingexp %> </p>
<h3> Battling (LOGO) </h3>
<p> <%= @user.battleexp %> </p>
<h3> TV / Ads (LOGO) </h3>
<p> <%= @user.adsexp %> </p>
<h3> Teching (LOGO) </h3>

<h2> Mixed media </h2>
<p> TODO </p>

<h2> Projects </h2>
<p> TODO </p>



<%= link_to "Back", users_path %>