<!-- User's page header -->
<div class="row">
	<header>
		<div class="col-sm-2">
			<% unless @user.profile_picture_file_name.nil? %>
				<%= image_tag @user.profile_picture.url(:thumb) %>
			<% else %>
				<a href="#" class="thumbnail">
					<img src="/assets/default_profile_pic.png" alt="User profile picture">
				</a>
			<% end %>
		</div>
		<div class="col-sm-6">
			<h1> <%= @user.fullname %> <%= link_to "@#{@user.username}", user_path(@user.username), class: "lead" %> </h1>
			<h2> <%= @user.nationality %> </h2>
			<p> <%= link_to "Edit your profile!", edit_user_path %> </p>
		</div>
	</header>
</div>
<div class="row">
	<h3 class="text-center"> Here goes the selectors </h3>
</div>
<div class="row">
	<h3 class="text-center"> Here goes the images content </h3>
</div>