<h1> Register in 10 seconds and start sharing your portfolio!</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="col-sm-8 col-md-offset-2">
    <%= bootstrap_form_for @user, html: { multipart: true }, url: register_path do |f| %>
      <%= f.text_field :username %>
      <%= f.text_field :email %>
      <%= f.date_field :born %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation, label: "Confirm password" %>
      <%= f.submit "Start enjoying!", class: "btn btn-success" %>
      <%= link_to "Cancel", users_path, class: "btn btn-default" %>
    <% end %>
  </div>
</div>