<h1 class="text-center">Projects from <%= @user.username %> </h1>

<div class="col-sm-6 col-sm-offset-3">
	<div class="list-group">
	  <% @projects.each do |project| %>
	    <a href="<%= user_project_path(@user.username, project.id) %>" class="list-group-item">
			<p class="lead"> <%= project.name %> </p>
			<p> <%= project.company %> </p>
			<p> <strong> <%= project.total_likes %># </strong>enlivened </p>
	    </a>
	  <% end %>
	</div>
</div>