<div class="jumbotron jumbo-cover">
	<div class="container">
		<h3> <strong> <%= @project.name %> </strong> <small> by <%= link_to @project.user.username, user_path(@project.user.username) %> </small> </h3>
		<h4> for: <strong> <%= @project.company %> </strong> </h4>
		<p> <%= @project.description %> </p>
		<h5> <%= @project.total_likes %># times enlivened </h5>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<div class="media-container">
			<div class="medium-gutter"></div>
			<% @media.each do |medium| %>
				<div class="medium">
					<a href="", id: "media-modal", data-toggle="modal", data-target="#media-modal">
						<% if medium.mediatype == "photo" %>
							<%= image_tag(medium.link, alt: "Picture num. #{medium.id}", link: "#{medium.link}", typeofmedium: "#{medium.mediatype}") %>
						<% else %>
							<div class="play-button">
								<span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
							</div>
								<%= image_tag( give_thumbnail(medium.link), alt: give_video_info(medium.link), link: youtube_sanitize(medium.link), typeofmedium: "#{medium.mediatype}") %>
						<% end %>
					</a>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="media-modal" tabindex="-1" role="dialog" aria-labelledby="media-modal" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content text-center">
			<div class="modal-header" id="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> </br>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body" id="embedded_media">
				<!-- Media content (image/video) -->
			</div>
		</div>
	</div>
</div>