<div class="jumbotron">
	<h1> Project: <strong> <%= @project.name %> </strong> </h1>
	<h2> for: <strong> <%= @project.company %> </strong> </h2>
	<p> <%= @project.description %> </p>
</div>

<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<div class="media-container">
			<% @media.each do |medium| %>
				<% if medium.mediatype == "photo" %>
					<% if medium.id%2 == 0 %>
						<div class="media" style="background-image: url(<%= medium.link %>);"></div>
					<% elsif medium.id%3 == 0 %>
						<div class="media h2" style="background-image: url(<%= medium.link %>);"></div>
					<% else %>
						<div class="media w2" style="background-image: url(<%= medium.link %>);"></div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- OLD Style, working but deforming images :S -->
<div class="row">
	<div class="col-xs-12 col-md-10 col-md-offset-1">
		<div class="media-container">
			<% @media.each do |medium| %>
				<% if medium.mediatype == "photo" %>
					<% if medium.id%2 == 0 %>
						<%= image_tag(medium.link, alt: "Media num. #{medium.id}", class: "media") %>
					<% elsif medium.id%3 == 0 %>
						<%= image_tag(medium.link, alt: "Media num. #{medium.id}", class: "media h2") %>
					<% else %>
						<%= image_tag(medium.link, alt: "Media num. #{medium.id}", class: "media w2") %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>