
<div class="jumbotron">
	<h2> Welcome to enliven! </h2>
  	<h4 class="lead"> The online portfolio for <del>performing arts professionals</del> DANCERS!</h4>
  	<p> <%= link_to "Make your portfolio now and start sharing!", register_path, class: "btn btn-success btn-lg", role: "button" %> </p>
</div>

<% @projects.each do |project| %>
<div class="col-sm-2">
	<div class="thumbnail" style="backgound-color: blue;"></div>
	<div class="project-info">
		<p> 
			<h3> <%= link_to project.name, user_project_path(project.user.username, project.id) %> </h3>
			<p class="text-primary"> by <%= link_to project.user.username, user_path(project.user.username) %> </p>
			<h2> <%= project.company %> </h2>			
			<p> <%= project.total_likes %># enlivened!</p>
			<p> <%= project.description %> </p>
		</p>
	</div>
</div>
<% end %>