<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">
      <div class="navbar-header">
        <!-- Famous Burguer -->
        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to "enliven", root_path, class: "navbar-brand logo" %>

      <!-- Search Field Small Screens-->
        <div class="col-xs-6 col-md-4 navbar-search-field-ss">
          <form class="navbar-form" role="search" method="get" id="search-form" name="search-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Users, projects and styles..." id="query" name="query" value="">
                  <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
          </form>
        </div>

      </div>
      <p class="navbar-text header-sentence"> The online portfolio for DANCERS </p>


      <!-- User interactions -->
      <div class="collapse navbar-collapse" id="bs-navbar-collapse-2">
        
      <!-- Search Field Large Screens-->
        <div class="col-xs-6 col-md-4 navbar-search-field-bs">
          <form class="navbar-form pull-right" role="search" method="get" id="search-form" name="search-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Users, projects and styles..." id="query" name="query" value="">
                  <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
          </form>
        </div>

        <% if current_user_name %>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to current_user_name.username, user_path(current_user_name.username) %> </li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li> <%= link_to "Edit Profile", edit_user_path(current_user_name.username) %> </li>
                <li><a href="#">Your Projects</a></li>
                <li class="divider"></li>
                <li> <%= link_to "Log out", logout_path, method: :delete, confirm: 'Logout?', remote: true %> </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li> <%= link_to "Register", register_path %> </li>
            <li> <a href="", id: "btn-login", data-toggle="modal", data-target="#login-modal"> Log In </a> </li>
          </ul>
        <% end %>
      </div>
    </div>
</div>
</nav>
