<!DOCTYPE html>
<html>
<head>
	<title>Enliven</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<link rel="stylesheet" href="https://www.google.com/fonts/#QuickUsePlace:quickUse/Family:Pacifico">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navbar' %>

	<div class="container">
		<% flash.map do |key, msg| %>
			<%= content_tag :div, msg, id: key %>
		<% end %>
	</div>
	<div class="row">
		<div class="container">
			<%= yield %>
		</div>
	</div>
</body>
</html>
