<!DOCTYPE html>
<html>
	<head>
		<title>Enliven</title>
		<%= favicon_link_tag 'favicon.ico' %>
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/navbar' %>

		<div class="flash-msg" id="flash-msg">
			<% flash.map do |key, msg| %>
				<% if key == "success" %>
					<%= content_tag :div, class: ["alert", "alert-success", "alert-dismissible"], role: "alert" do %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<p> <%= msg %> </p>
					<% end %>
				<% elsif key == "notice" %>
					<%= content_tag :div, class: ["alert", "alert-info", "alert-dismissible"], role: "alert" do %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<p> <%= msg %> </p>
					<% end %>
				<% elsif key == "warning" %>
					<%= content_tag :div, class: ["alert", "alert-warning", "alert-dismissible"], role: "alert" do %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<p> <%= msg %> </p>
					<% end %>
				<% elsif key == "error" %>
					<%= content_tag :div, class: ["alert", "alert-danger", "alert-dismissible"], role: "alert" do %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<p> <%= msg %> </p>
					<% end %>
				<% end %>					
			<% end %>
		</div>

		<%= yield %>

		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content text-center">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">Login to <%= image_tag("enliven-logo.png", alt: "ENLIVEN logo", class: "enliven-logo-login") %></h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<%= bootstrap_form_tag url: login_path do %>
								<%= text_field_tag :email, nil, placeholder: "email", class: "form-control login-field" %>
								<%= password_field_tag :password, nil, placeholder: "password", class: "form-control login-field" %>
					</div>
					<div class="modal-footer">
						<%= submit_tag "Log in!", class: "btn btn-success" %>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>